body {
  font-family: 'Roboto';
  background-color: #F6CC76;
}

.container {
  background-color: #fff;
}

.left {
  background-color: rgb(230, 230, 230);
  padding: 50px 50px;
}

.left-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.left-header h1 {
  font-size: 1.5rem;
}

.card {
  margin-bottom: 20px;
  padding: 10px;
  line-height: 0.4;
}

.card img {
  width: 70px;
  margin-bottom: 25px;
}