body {
  font-family: 'Roboto';
  background-color: #F6CC76;
}

.container {
  background-color: #fff;
  width: 1000px;
  height: 480px;
  position: absolute;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left, .right {
  background-color: rgb(230, 230, 230);
  padding: 40px 40px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgb(201, 201, 201);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(167, 167, 167);
}

.left-header, .balance-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.left-header h1, .balance-header h1 {
  font-size: 1.5rem;
}

.card {
  margin-bottom: 20px;
  padding: 10px;
  line-height: 0.4;
}

.card:hover {
  box-shadow: 0px 0px 1px 1px blue;
}

.card img {
  width: 70px;
  margin-bottom: 25px;
}

.right {
  background-color: #fff;
}

.balance-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 40px;
}

#balance {
  font-weight: 700;
  font-size: 1.7rem;
}

.balance-header .decimal {
  font-size: 1.2rem;
}

.decimal {
  position: absolute;
  font-size: 0.7rem;
}

.transaction-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.transaction-left {
  display: flex;
  align-items: center;
}

.sign {
  border: 1px solid #ccc;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  margin-right: 50px;
}

.transaction-title h2 {
  font-weight: 700;
  font-size: 1.4rem;
}

.sub {
  font-weight: 700;
  color: grey;
}

.expense {
  font-weight: 700;
  font-size: 1.2rem;
}